@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #499bef;
  --point: #6663fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// title
.title {
  @apply font-bold;
  span {
    @apply font-normal text-lg text-gray-600 relative pl-3 ml-2;

    &::before {
      @apply content-[''] inline-block w-px  h-3 bg-gray-400 absolute top-1/2 left-0 -translate-y-1/2;
    }
  }
  section &,
  footer & {
    @apply font-bold mb-6 text-2xl;
  }
}

.center {
  @apply flex justify-center;
}
/* footer */
.link {
  @apply transform hover:scale-110 transition-all p-3 bg-white rounded-xl shadow-lg;
  svg {
    @apply w-6 h-6 text-gray-700;
  }
  span {
    @include a11y-hidden;
  }
}

.header {
  @apply flex justify-between h-16 items-center px-6 fixed top-0 left-0 w-full bg-background z-50;

  div {
    @apply flex items-center text-gray-600 text-sm  gap-3  md:gap-6;

    @media screen and (max-width: 768px) {
      a:not(:last-child) {
        &::after {
          @apply content-[''] block w-5 h-5 bg-gray-400 border-4 border-white hover:bg-gray-500 rounded-xl;
        }
        span {
          @include a11y-hidden;
        }
      }
    }
  }
}

.list {
  li {
    @apply relative;
    &::before {
      @apply content-[''] block absolute left-0 -translate-y-1/2;
    }
  }

  & > li {
    @apply py-1 pl-4;

    &::before {
      @apply w-1.5 h-1.5 bg-blue-500 top-4 rounded-full;
    }

    ul,
    ol {
      @apply mt-1;

      li {
        @apply py-1 pl-4;

        &::before {
          @apply w-1.5 h-px bg-gray-500 top-4;
        }
      }
    }
  }
}

.list2 {
  @apply mt-1 mb-4;
  li {
    @apply pl-3 relative;

    &::before {
      @apply content-[''] block absolute top-3 left-0 -translate-y-1/2 w-1.5 h-px bg-gray-500;
    }
  }
}

.point {
  @apply inline-block text-gray-600  py-px px-1 -mx-1 bg-white;

  strong {
    @apply text-blue-500;
  }
}

strong.point {
  @apply text-blue-500;
}

//
.go {
  @apply inline-flex gap-1 items-center justify-center 
  border hover:border-blue-200 hover:bg-blue-100 

  w-10 h-10 rounded-full 
hover:scale-110 transition-all duration-300;
  svg {
    @apply h-5;
  }
  span {
    @include a11y-hidden;
  }
}

// iconType
.iconType {
  @apply inline-flex items-center bg-gray-100 border rounded-2xl py-1 px-2 text-xs text-gray-600;

  .thumb & {
    @apply absolute top-3 left-3 bg-white;
  }
  .modal & {
    @apply mb-3;
  }
}
