@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #499bef;
  --point: #6663fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@mixin a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

section,
footer {
  h2 {
    @apply font-bold mb-6 text-2xl;
  }
}

.center {
  @apply flex justify-center;
}
/* footer */
.link {
  @apply transform hover:scale-110 transition-all p-3 bg-white rounded-xl shadow-lg;
  svg {
    @apply w-6 h-6 text-gray-700;
  }
  span {
    @include a11y-hidden;
  }
}

.header {
  @apply flex justify-between h-16 items-center px-6 fixed top-0 left-0 w-full bg-background z-10;

  div {
    @apply flex items-center text-gray-600 text-sm  gap-3  md:gap-6;

    @media screen and (max-width: 768px) {
      a:not(:last-child) {
        &::after {
          @apply content-[''] block w-5 h-5 bg-gray-400 border-4 border-white hover:bg-gray-500 rounded-xl;
        }
        span {
          @include a11y-hidden;
        }
      }
    }
  }
}
