.code {
  @apply text-sm sm:text-2xl;

  span {
    display: inline-block;
    padding: 0 0.2em;
  }
}

//section
.wrap {
  @apply min-h-[100dvh] py-16 flex items-center justify-center;

  &:nth-child(odd) {
    @apply bg-blue-50;
  }

  section {
    @apply container mx-auto px-6;

    h2 {
      @apply text-3xl font-bold text-gray-800;

      & + p {
        @apply mt-4 mb-8 text-gray-600;
      }
    }
  }
}

// 경력
#career {
  @apply py-16;

  ol {
    @apply relative flex flex-col;

    & > li {
      @apply flex flex-col md:flex-row gap-6  relative pl-8 pb-24;

      &:last-child {
        @apply pb-0;
      }

      &::before,
      &::after {
        @apply content-[''] absolute left-0 top-0 translate-y-2;
      }
      &::before {
        @apply w-3 h-3 rounded-full border-4 border-blue-500 z-10;
      }
      &:not(:last-child):after {
        @apply w-px h-full bg-gray-200 left-1.5 -translate-x-2/4;
      }

      div:first-child {
        @apply basis-0 md:basis-72;
      }

      h3 {
        @apply text-sm font-normal text-gray-400 mb-3;

        span {
          @apply text-xl font-bold mb-2 text-gray-800 tracking-tight  mr-2;
        }
        & ~ p {
          @apply text-sm text-gray-500 mt-1;
        }
      }
      .content {
        p {
          @apply flex items-center gap-1 font-bold text-lg mb-4;
          svg {
            @apply h-4;
          }
        }
        ul {
          @apply list-disc list-inside text-gray-600 space-y-1 pl-3;
        }
      }
    }
  }

  .list {
    position: relative;
    .blur {
      @apply content-[''] block absolute left-0 bottom-0 w-full h-full bg-gradient-to-b
      from-transparent from-70% via-blue-50/80 to-blue-50 pointer-events-none;
    }
  }
}

#education section:first-child {
  @apply mb-16;
}

.card {
  @apply grid gap-8;
  & > li {
    @apply flex flex-col   bg-white rounded-xl shadow-lg overflow-hidden;

    .content {
      @apply flex flex-col grow items-end justify-between pt-4 px-6 pb-6;

      h3 {
        @apply flex gap-2 font-bold;
        &.title {
          @apply text-lg flex items-center flex-wrap tracking-tight mb-2;
          span {
            @apply text-sm;
          }
        }
      }
      h3 + p {
        #project & {
          @apply mb-6 text-gray-600;
        }

        #experience &,
        #experience & ~ p {
          @apply mt-2;
        }
      }

      ul,
      p {
        @apply pl-2;
      }

      & > div:not(.btn-group) {
        @apply w-full grow;
      }
      h3 + ul li {
        @apply mt-2;
      }
    }
  }

  div.thumb,
  img {
    @apply w-full aspect-[4/3] object-cover;
  }

  .thumb {
    @apply relative bg-gray-200;
  }

  .tag {
    @apply flex flex-wrap w-full gap-2 text-sm;
  }
  .btn-group {
    @apply flex justify-end gap-2 mt-5;
  }
}

#skill {
  .pc {
    @apply container relative overflow-hidden rounded-xl lg:rounded-2xl lg:p-3;

    & > img {
      @apply absolute top-0 left-0 w-full h-full;
    }
  }
  .vs-viewer {
    @apply relative z-10  bg-gray-700  text-gray-300 rounded-xl overflow-hidden;
    .top {
      @apply font-bold border-b  border-gray-900 py-2 px-4 flex items-center;
      .dot {
        @apply flex gap-1;

        span {
          @apply w-2 h-2 rounded block bg-yellow-500;

          &:first-child {
            @apply bg-red-500;
          }

          &:last-child {
            @apply bg-green-500;
          }
        }
      }
      p {
        @apply grow text-center;
      }
    }
    &::after {
      @apply content-[''] block w-full h-8 border-t border-gray-900 bg-gray-800;
    }
    .top + div {
      @apply flex flex-col lg:flex-row;

      .icon {
        @apply p-4;
      }
      .tab {
        @apply flex gap-0 bg-gray-800 border-x border-gray-900 transition-all duration-300 flex-wrap text-sm 
        lg:text-base lg:gap-1 lg:flex-col;

        .all {
          @apply inline-block hidden lg:inline-block;
          & + svg {
            @apply inline-block lg:hidden;
          }
        }
        .mobile {
          @apply inline-block lg:hidden;
        }

        li {
          button {
            @apply flex flex-col w-full px-2 py-2 lg:rounded lg:px-3;

            &.active {
              @apply bg-gray-700  border-t-2 border-t-orange-300  lg:bg-gray-900 lg:border-0;
            }

            & > span {
              @apply px-3 py-1 flex items-center;

              svg {
                @apply mr-1;
              }
              &:first-child {
                @apply p-0;
              }
              &:first-child + span {
                @apply mt-1;
              }
              &:first-child ~ span {
                @apply hidden lg:flex;
              }
            }
          }
        }
        & > li:last-child {
          @apply lg:mb-6;
        }
      }
      .viewer {
        @apply flex flex-col w-full overflow-hidden;

        .open_tab {
          @apply bg-gray-800 shadow-[inset_0_-1px_0_0_rgba(0,0,0,1)] hidden lg:block;
          div {
            @apply flex text-sm items-center gap-2 bg-gray-700 border-r border-t-2 border-r-gray-900 border-t-orange-300 w-fit px-4 py-2;
          }
        }
        .view-con {
          @apply grow p-6;

          code {
            white-space: pre-wrap !important;
          }
        }

        h3 {
          @apply text-2xl mb-4;
        }
      }
    }
  }
  .program {
    @apply relative mt-1 z-10 gap-2 px-3 p-3  rounded-2xl w-fit
    mx-auto backdrop-blur-sm border border-white/20 bg-white/30 gap-4 px-6 hidden lg:flex;

    button {
      @apply relative w-10 h-10 rounded-lg;

      &:first-child::after {
        @apply content-[''] block w-1 h-1 rounded-full bg-black absolute -bottom-2 left-1/2 -translate-x-1/2;
      }
      img {
        @apply rounded-lg overflow-hidden shadow-lg;
      }

      span {
        @apply block text-sm opacity-0 transition-all duration-300 w-60 bg-white absolute bottom-16 left-1/2 -translate-x-1/2 rounded p-2;
      }
      &:hover {
        @apply overflow-visible;
        span {
          @apply opacity-100 text-left shadow-xl;
          strong {
            @apply block text-base;
          }
        }
      }
    }
  }
}

.hash_tag {
  @apply flex gap-2 flex-wrap;
  span {
    @apply bg-white text-blue-500 rounded px-2 py-1 text-sm;
  }

  .pc & {
    span {
      @apply bg-gray-600 text-gray-100 text-xs;
    }
  }
}

.modal {
  @apply fixed top-0 left-0 z-50 w-full h-full flex items-center justify-center;

  .container {
    @apply relative z-10 w-full max-w-3xl mx-6 rounded-lg  max-h-[70vh] overflow-hidden flex flex-col p-10 pb-12 bg-white;
    .modalTop {
      @apply sticky top-0 bg-white pb-2;

      .title {
        @apply text-2xl;
      }
    }
    .modalContent {
      @apply bg-white  grow h-full overflow-auto;
      h3,
      h4,
      h5 {
        @apply font-bold;

        & + ul {
          padding-left: 0.5em;
        }
      }

      h3 {
        @apply text-lg mt-8;

        & + :not(.list) {
          @apply mt-3;
        }
      }
    }
    .btn-close {
      @apply absolute top-8 right-5 bg-gray-200 w-10 h-10 flex items-center justify-center rounded-full;

      svg {
        @apply text-blue-500;
      }
    }
  }

  .dim {
    @apply absolute w-full h-full  bg-black bg-opacity-50;
  }
}

.glow {
  box-sizing: border-box;
  outline-offset: 2px;
  animation: glow 2s ease-in-out infinite;

  .program & {
    animation: glow2 2s ease-in-out infinite;
  }
}
@keyframes glow {
  0%,
  100% {
    outline: 2px solid transparent;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0);
  }
  50% {
    outline: 1px solid rgba(59, 130, 246, 0.2);
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.2);
  }
}

@keyframes glow2 {
  0%,
  100% {
    outline: 2px solid transparent;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0);
  }
  50% {
    outline: 1px solid rgba(59, 130, 246, 0.5);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
  }
}

.projectTab {
  @apply flex gap-2 mb-12 flex-wrap;

  button {
    @apply bg-white text-gray-500 rounded px-2 py-1 text-sm hover:text-blue-500 transition-all duration-300;

    &.active {
      @apply bg-blue-600 text-white shadow-lg;
    }
  }
}

#introduce {
  .contents {
    @apply flex flex-col gap-12 mt-6 leading-relaxed;

    h4 {
      @apply font-bold text-xl mb-2;
    }
    .box {
      // @apply p-6 border-8 border-white rounded-xl;
    }
  }
}
.text_link {
  @apply text-blue-500 inline-flex gap-1;

  svg {
    @apply h-4 mt-1;
  }
}

.strength {
  @apply grid md:grid-cols-3 gap-8 mt-8;
  div {
    @apply p-6 bg-white rounded-xl;
  }

  h3 {
    @apply flex items-center gap-1 mb-4 text-blue-600 text-lg font-bold;
    svg {
      @apply h-5;
    }
  }
}

.moreToggleBtn {
  @apply px-6 py-2 text-sm border border-gray-300 bg-white rounded-full hover:text-blue-500 hover:border-blue-200 transition-colors mx-auto block relative;
}

.json {
  @apply text-blue-400 leading-relaxed;
  font-size: 0.95em;

  .label {
    @apply shrink-0 text-indigo-400;
  }

  .colon {
    @apply text-gray-200;
  }
  .array {
    &::before {
      @apply content-['['] text-gray-200 mr-1;
    }

    &::after {
      @apply content-['],'] text-gray-200 ml-1;
    }
    span:not(:last-child) {
      &::after {
        @apply content-[','] text-gray-200 mr-1;
      }
    }
  }
}

.skill {
  @apply text-sm bg-gray-100 p-6 rounded-xl mt-4 grid grid-cols-1 gap-x-10 gap-y-4 sm:grid-cols-2 lg:grid-cols-3;
}

.function {
  & > ul {
    @apply grid grid-cols-1 gap-10 sm:grid-cols-2 xl:grid-cols-3;

    img {
      @apply max-w-full rounded-xl border mt-3;
    }
  }
}

.new-link {
  @apply text-blue-500 underline;
}

[data-rehype-pretty-code-figure] pre {
  @apply p-8 text-sm rounded-lg bg-gray-100 !important;
}

code {
  @apply text-sm bg-blue-100 text-blue-600 rounded px-2 py-1;
  pre & {
    @apply bg-transparent p-0;
  }
}

.details {
  @apply p-6 border-4 border-gray-100 rounded-xl;
  h5 ~ h5 {
    @apply mt-8;
  }
}

.motivation {
  @apply bg-gray-100 p-4 rounded-xl my-4;
}
